body{
    background-color: bisque;
    background-attachment: scroll;
    
    
}
div{
    background-color: brown;
}
nav{
    display: flex;
    height: 100px;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin: 1em;
    color: bisque;
}
nav ul{
    display: flex;
    gap: 50px;
    margin-right: 50px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: bisque;
    font-weight: 600;
    transition: 2s all;
}
nav ul a:hover{
    color: black;
    background-color: white;
}
img{
    border-radius: 10%;

}

.i{
    width: 30%;
}

.my{
    animation: myself 4s ease 1s infinite;
}

@keyframes myself{
    0%{
       margin-left: -50%;
    }
}

@media screen {
    max-width: 300px;
}